@import "tailwindcss";


@theme {
    --color-bg-primary: #0f0a0a;
    --color-bg-surface: #1a1015;
    --color-bg-card: #1f1318;
    --color-border: #2a1a20;
    --color-rose-accent: #f43f5e;
    --color-rose-hover: #fb7185;
}